:root {
    --zwart: #0E0F0A;
    --blauw: #283544;
    --grijs: #B9C3CD;
    --wit: #F4FAFF;
    --roos: #EF798A;
    --lichtBlauw: #447fad;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/background-blurred.jpg");
    background-color: #0e0f0a71;
    background-position: 50% 10%;
    background-attachment: scroll;
    background-blend-mode: multiply;
    font-family: 'Prompt', sans-serif;
    color: var(--wit);
    animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 30%;
    }
    25% {
        background-position: 30% 20%;
    }
    50% {
        background-position: 60% 30%;
    }
    75% {
        background-position: 30% 40%;
    }
    100% {
        background-position: 0 30%;
    }
}



.background {
    content: "";
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
}

.projectsContainer {
    backdrop-filter: invert(10%) contrast(0.8) brightness(0.3) blur(1px);
    width: auto;
}

.wit {
    color: var(--wit);
}

.title {
    font-size: 3em;
}

.thin {
    font-size: 1.5em;
    margin: 0;
    font-family: 'prompt', sans-serif;
}

.op70 {
    opacity: 0.7;
}

.card a:hover {
    border-color: var(--lichtBlauw) !important;
}

#area {
    min-height: 200px;
    max-height: fit-content;
    border: 2px solid var(--wit) !important;
    border-radius: 10px !important;
}


#name::placeholder, #email::placeholder, #subject::placeholder, #area::placeholder, .form-control {
    color: #f4faff52;
}

.selector option {
    background-color: var(--zwart);
    color: var(--grijs);
}

.selector.btn:hover, .selector.form-control:hover {
    border-color: var(--lichtBlauw); /* Replace with your desired color */
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--wit); /* Replace with your desired color */
}

.form-control:enabled {
    background-color: transparent;
    color: var(--wit);
}

/*navbar*/
.offcanvas-transition {
    transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link {
    color: var(--wit);
}

.navbar-nav .nav-link:hover {
    color: var(--grijs);
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--grijs);
}

.lichtBlauw {
    background-color: var(--lichtBlauw)
}
.lichtBlauw:hover {
    background-color: var(--blauw);
}

#name, #email, #subject, #area {
    width: 30vw;;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--wit);
    padding-left: 2px;
    padding-bottom: 5px;
    outline: 2px solid transparent;
}

#name:hover, #email:hover, #subject:hover {
    border-bottom: 3px solid var(--wit);
    margin-bottom: -1px;
}

.selector {
    background-color: transparent;
    border: 2px solid var(--wit);
    border-radius: 10px;
}

#submit:hover {
    background-color: var(--zwart);
    font-weight: bold;
    border: 3px var(--wit) solid;
    margin-bottom: -2px;
}

/* Intro styles */
.intro {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0e0f0a;
    backdrop-filter: invert(5%) blur(5px);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wit);
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--wit);
    border: 1px solid var(--grijs);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--zwart);
}

/* media */
@media (max-width: 991px) {
    body {
        background-size: 300%;
        background-color: #0e0f0a71;
    }
}

@media (max-width: 991px) {
    .sidebar {
        background-color: #0e0f0a71;
        backdrop-filter: blur(3px);
        align-items: flex-end !important;
        border-left: 1px solid var(--wit) !important;
        width: 40% !important;
    }
    
    .offcanvas-end .offcanvas-header .btn-close {
        order: 2;
    }

    .offcanvas-end .offcanvas-header .btn-close.ms-auto {
        order: 1;
    }

    .offcanvas-end .offcanvas-body .navbar-nav {
        text-align: right;
    }

    .titlebox {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 2vh !important;
        text-align: center;
    }

    .title {
        font-size: 2em;
    }

    #name, #email, #subject, #area {
        width: 70vw;;
    }

    .col-12 {
        text-align: center !important;
    }

    .fixed-bottom {
        position: static;
    }

    .projectsContainer {
        border: 0 !important;
        backdrop-filter: none !important;
    }
}
