body
{
    font-family: 'Courier New', Courier, monospace;
}

.input
{
    background-color: lightblue;
}

form
{
    width: 40%;
    padding: 15px;
}

.input:focus
{
    background-color: white;
}

.label,
.submit
{
    font-size: large;
    font-weight: bold;
    padding: 5px;
}