body{
    font-family: 'Courier New', Courier, monospace;
}
form{
    width: 40%;
}
.input{
    background-color: lightblue;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.input:focus{
    background-color: white;
}
.label{
    font-size: large;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
.submit{
    font-size: large;
    font-weight: bold;
    padding: 8px;
    margin-top: 8px;
}