:root{
    --blauw-thomasmore: #082333;
}

hr{
    border-top: 1px solid var(--blauw-thomasmore);
}
table{
    border: solid;
    border-collapse: collapse;
    border: 1px gray;
}
caption{
    padding: 10px;
    caption-side: bottom;
}
th, td{
    padding: 15px;
    margin: 1em;
    border: solid gray 1px;
    border-collapse: collapse;
    text-align: center;
}
th{
    background-color: var(--blauw-thomasmore);
    color: white;
}
.background{
    background-color: var(--blauw-thomasmore);
    color: white;
}
caption{
    caption-side: bottom;
 }