:root{
    --oranje-thomasmore: #ec6338;
    --blauw-thomasmore: #082333;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    color: var(--oranje-thomasmore);
}
div{
    padding-top: 15px;
    padding-bottom: 15px;
}
a{
    color: var(--blauw-thomasmore);
}
a:hover{
color: var(--thomasmore);
}
a:visited{
    text-decoration: underline;
}
