:root{
    --oranje-thomasmore: #ec6338;
    --blauw-thomasmore: #082333;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    margin: 0%;
    padding: 0%;
    font-size: 2em;
    color: var(--oranje-thomasmore);
}
hr{
    height: 1px;
    background-color: var(--blauw-thomasmore);
}
img{
    border-radius: 5%;
    margin:15px;
    float: left;
    opacity: 0.5;
    
}
img:hover{
    opacity: 1.0;
    background-color: var(--oranje-thomasmore);
}