:root{
    --zwart: #0E0F0A;
    --blauw: #283544;
    --grijs: #B9C3CD;
    --wit: #F4FAFF;
    --roos: #EF798A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    background-image: url(IMG/background-vertical.jpg);
    background-color: #0e0f0a71;
    background-position: absolute;
    background-size: cover;
    background-attachment: scroll;
    color: var(--wit);
}

.Title{
    margin-left: 60px;
    margin-top: 22px;
    font-size: 3em;
    display: block;
    font-weight: bold;
}

.textbox{
    position: absolute;
    margin-left: 60px;
    margin-top: 120px;
    width: 660px;
}

.textbox2{
    position: absolute;
    width: 660px;
    right: 0%;
    margin-right: 60px;
    margin-top: 530px;
}

.textboxIntro{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
}

.textboxBigText{
    max-height: 80px;
    font-size: 4em;
    padding: 0;
}

.picbox{
    position: absolute;
    left: 1000px;
    top: 220px;        /*210*/
    margin-right: 60px;
}

.picBorder{
    position: relative;
    height: 273.3px;

}

.picMain{
    padding-left: 16px;
    padding-top: 15px;
    position: absolute;
    height: 260px;
    width: 373.3px;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/IMG/background-navbar.png);
    background-size: cover;
    padding: 10px;
    margin: 26px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8em;
    border-radius: 5px;
    border: 3px solid var(--wit);
}
.nav-bar a{
    
    text-decoration: none;
    color: var(--wit);
    margin: 0 20px;
    font-size: 1.2em;
    color: var(--wit);
}
.nav-bar a:hover{
    text-decoration: wavy;
    color: var(--grijs);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}


/* Intro */
.intro{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0e0f0a;
    backdrop-filter: invert(5%) blur(5px);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wit);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

