:root{
    --blauw-thomasmore: #082333;
    --oranje-thomasmore: #ec6338;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--blauw-thomasmore);
}
.afbeelding{
    width: 400px;
}
li{
    margin: 0%;
    padding: 3px;
}
ol{
    background-color: var(--oranje-thomasmore);
    color: white;
}
ul{
    background-color: var(--blauw-thomasmore);
    margin-right: 5px;
    color: white;
}
.container{
    padding: 20px;
    width: 400px;
}