:root{
    --blauw-thomasmore: #082333;
    --oranje-thomasmore: #ec6338;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
table{
    border: 3px solid black;
    border-collapse: collapse;    
}
tr, th, td{
    border: 1px solid black;
    height: 50px;
    margin: 4px;
    text-align: center;
}
th{
    background-color: lightgray;
}
.kolomBreed{
    width: 200px;
}
.kolomSmal{
    width: 100px;
}
.groen{
    background-color: lightgreen;
}
.rood{
    background-color: rgb(209, 53, 53);
}
