body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 25%;
}
fieldset{
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #f8e8d4;
    box-sizing: border-box;
    display: inline-block;
    min-width: 400px;
}
legend{
    background-color: maroon;
    color: white;
    padding: 5px;
}
input{
    padding: 5px;
}
.submit{
    font-size:large;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    background-color: #f8e8d4;
    box-sizing: border-box;
    display: inline-block;
    min-width: 400px;
}

